.rect1{
    width: 600px;
    height: 350px;
    background-color: red;
    

}
.rect2{
    width: 280px;
    height: 155px;
    background-color: white;
    position: relative;
    bottom: 155px;

}
.rect3{
    width: 280px;
    height: 155px;
    background-color: white;
    position: relative;
    left: 320px;
    bottom: 505px;

}
.rect4{
    width: 280px;
    height: 155px;
    background-color: white;
    position: relative;
    bottom: 660px;

}
.rect5{
    width: 280px;
    height: 155px;
    background-color: white;
    position: relative;
    bottom: 620px;
    left: 320px;
}
.plus1{
width: 15px;
height: 60px;
background-color: red;
position: relative;
left: 450px;
bottom: 920px;

}
.plus2{
    width: 60px;
    height: 15px;
    background-color: red;
    float: right;
    position: relative;
    bottom: 955px ; 
    right: 510px;
    }
.plus3{
        width: 60px;
        height: 15px;
        background-color: red;
        position: relative;
        bottom: 955px;
        left: 110px;
        } 
  .plus4{
            width: 15px;
            height: 60px;
            background-color: red;
            position: relative;
            bottom: 995px;
            left: 133px;

         }
 .plus5{
            width: 60px;
            height: 15px;
            background-color: red;
            position: relative;
            left: 110px;
            bottom: 835px;
         }
  .plus6{
            width: 15px;
            height: 60px;
            background-color: red;
            position: relative;
            bottom: 875px;
            left: 133px;
            

         }
 .plus7{
            width: 60px;
            height: 15px;
            background-color: red;
            position: relative;
            float: right;
            bottom: 910px;
            right: 505px;
            
         }
  .plus8{
            width: 15px;
            height: 60px;
            background-color: red;
            position: relative;
            float: right;
            bottom: 933px;
            right: 467px ;
            
            

         }